<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{template "_head.html" .Title}}
<body>

{{template "_header.html" .Active}}
<!--MENU SECTION END-->
<section class="headline-sec">
    <div class="overlay ">
        <h3>ABOUT US <i class="fa fa-angle-double-right "></i></h3>

    </div>
</section>
<!--HOME SECTION END-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3><strong>Overview Of Company</strong></h3>
                <p>
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    <strong> Nunc at viverra risus.
                        In euismod quam ac dictum varius. </strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    <strong> In euismod quam ac dictum varius.
                        Nunc at viverra risus.
                        In euismod quam ac dictum varius.</strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                </p>
                <p>
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    <strong> In euismod quam ac dictum varius.
                        Nunc at viverra risus.
                        In euismod quam ac dictum varius.</strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                </p>
            </div>
            <div class="col-md-4 p-top-row ">
                <img src="assets/img/about1.jpg" class="img-responsive img-rounded" alt=""/>
            </div>
        </div>
        <div class="row p-top-row">
            <div class="col-md-4 p-top-row ">
                <img src="assets/img/about2.jpg" class="img-responsive img-rounded" alt=""/>
            </div>
            <div class="col-md-8">
                <h3><strong>Future Scope</strong></h3>
                <p>
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    <strong> Nunc at viverra risus.
                        In euismod quam ac dictum varius. </strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    <strong> In euismod quam ac dictum varius.
                        Nunc at viverra risus.
                        In euismod quam ac dictum varius.</strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                </p>
                <p>
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    <strong> In euismod quam ac dictum varius.
                        Nunc at viverra risus.
                        In euismod quam ac dictum varius.</strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                </p>
            </div>

        </div>
        <div class="row p-top-row">

            <div class="col-md-8">
                <h3><strong>Our Quality Policy</strong></h3>
                <p>
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    <strong> Nunc at viverra risus.
                        In euismod quam ac dictum varius. </strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    <strong> In euismod quam ac dictum varius.
                        Nunc at viverra risus.
                        In euismod quam ac dictum varius.</strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                </p>
                <p>
                    Nunc at viverra risus.
                    In euismod quam ac dictum varius.
                    Nunc at viverra risus.
                    <strong> In euismod quam ac dictum varius.
                        Nunc at viverra risus.
                        In euismod quam ac dictum varius.</strong>
                    Nunc at viverra risus.
                    Nunc at viverra risus.
                </p>
            </div>
            <div class="col-md-4 p-top-row ">
                <img src="assets/img/about3.jpg" class="img-responsive img-rounded" alt=""/>
            </div>
        </div>
    </div>
</section>
{{template "_footer.html"}}
<!--FOOTER SECTION END-->
<div class="copy-txt">
    <div class="container">
        <div class="row">
            <div class="col-md-12 set-foot">
                &copy 2014 your domain | All rights reserved | Design by : <a href="http://www.binarytheme.com"
                                                                              target="_blank" style="color:#7C7C7C;">binarytheme.com</a>
            </div>
        </div>
    </div>
</div>
<!-- COPY TEXT SECTION END-->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="assets/js/bootstrap.js"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="assets/js/custom.js"></script>
</body>
</html>
