<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{template "_head.html" .Title}}
<body>

{{template "_header.html" .Active}}
<!--MENU SECTION END-->
<section class="headline-sec">
    <div class="overlay ">
        <h3>BLANK PAGE <i class="fa fa-angle-double-right "></i></h3>

    </div>
</section>
<!--HOME SECTION END-->
<section id="pricing-sec">
    <div class="container">
        {{range $index, $element := .HostingCategories}}


        <div   class="row">
            <div class="col-md-6">
                <h3><strong>{{$element.Name}} </strong></h3>
                <p>
                    {{$element.Description}}
                </p>
                <h5><strong>Features Overview :</strong></h5>
                <div class="pricing-div">
                    <ul>
                        <li>
                            <i class="fa fa-check"></i>Unlimited Space on the Disk
                        </li>
                        <li>
                            <i class="fa fa-check"></i>100+ Database Accounts
                        </li>
                        <li>
                            <i class="fa fa-check"></i>2TB Data Transfer.
                        </li>
                        <li>
                            <i class="fa fa-check"></i>Ultra Fast Speed
                        </li>
                        <li>
                            <i class="fa fa-check"></i>100+ Database Accounts
                        </li>
                    </ul>
                    <div class="alert alert-info set-wth">
                        <span class="price">{{$element.Price}} $ <small> / month</small></span>

                    </div>
                </div>


            </div>

        </div>

        {{end}}

    </div>
</section>
{{template "_footer.html"}}
<!--FOOTER SECTION END-->
<div class="copy-txt">
    <div class="container">
        <div class="row">
            <div class="col-md-12 set-foot">
                &copy 2014 your domain | All rights reserved | Design by : <a href="http://www.binarytheme.com"
                                                                              target="_blank" style="color:#7C7C7C;">binarytheme.com</a>
            </div>
        </div>
    </div>
</div>
<!-- COPY TEXT SECTION END-->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="assets/js/bootstrap.js"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="assets/js/custom.js"></script>
</body>
</html>
